.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min(780px);
    min-height: 100px;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 8px;
}
