@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: rgb(219, 0, 0);
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.8rem;
        border-radius: 4px;
        margin: 8px;
    }
    .tippy-arrow {
        display: none;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
